# Python
backend/.venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.vite/
frontend/.vite/

# IDE
.vscode/
.idea/

# Betriebssystem
.DS_Store
node_modules
Thumbs.db

# Umgebungsvariablen

.env.*
